<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
    <div class="wrapper">
        <!-- header 시작 -->
        <header>
            <div class="home">
                <h1>
                    <a href="./main.html">SIDE</a>
                </h1>
            </div>
        </header>
        <!-- header 끝 -->
        <!-- content 시작 -->
        <section>
            
        </section>
        <!-- content 시작 -->
        <!-- footer 시작 -->
        <footer>
            
        </footer>
        <!-- footer 끝 -->
    </div>
</body>
</html>