<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="google-signin-client_id" content="918079045792-2t4t5dqtdfgdj75d6vqshnuj3jm6lrr3.apps.googleusercontent.com">
    <title>login</title>
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class="wrapper">
        <!-- header 시작 -->
        <header>
            <div class="home">
                <h1>
                    <a href="./main.html">LOGIN</a>
                </h1>
            </div>
        </header>
        <!-- header 끝 -->
        <!-- content 시작 -->
        <section>
            <div class="content">
                <form id="login" action="/login" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <fieldset class="login_form">
                        <legend class="hidden">로그인</legend>
                        <div class="id_area">
                            <div class="input_row">
                                <span class="input_box">
                                    <input type="text" name="username" class="username" placeholder="아이디" maxlength="41">
                                </span>
<!--                                <button type="button" disabled title="delete" class="clear">🅧</button>-->
                            </div>
                        </div>
                        <div class="pw_area">
                            <div class="input_row">
                                <span class="input_box">
                                    <input type="password" name="password" class="pw" placeholder="비밀번호" maxlength="80">
                                </span>
<!--                                <button type="submit" disabled title="delete" class="clear">🅧</button>-->
                                <div class="capslock">
                                    <p><strong>Caps Lock</strong>이 켜져 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <button type="submit">Login</button>
<!--                        <input type="submit" title="로그인" alt="로그인" value="로그인" class="login">-->
                        <a class="g-signin2"  onClick="onSignIn()">Google Login</a>
<!--                    check_info 작업 예정-->
                        
                        <div class="check_info">
                            <span class="check_box">
                                <input type="checkbox" name="nvlong">
                                <label for="login_check">로그인 상태 유지</label>
                                <a href="/signup">회원가입</a>
                            </span>
                        </div>
                    </fieldset>
                </form>
<!--
                <div class="once_login">
                    
                </div>
-->
<!--            position 작업 예정-->
                <div class="position">
                    <a target="_blank" id="idinquiry" href="#">아이디 찾기</a>
                    <span class="bar" aria-hidden="true">│</span>
                    <a target="_blank" id="pwinquiry" href="#">비밀번호 찾기</a>
                    <span class="bar" aria-hidden="true">│</span>
                    <a target="_blank" id="join" href="/signup">회원가입</a>

                </div>
            </div>
        </section>
        <!-- content 끝 -->
<!--    footer 작업 예정-->
        <!-- footer 시작 -->
        <footer>
            <ul>
                <li><a target="_blank" href="#" class="first_li">이용약관</a></li>
                <li><a target="_blank" href="#">개인정보처리방침</a></li>
                <li><a target="_blank" href="#">회원정보 고객센터</a></li>
            </ul>
        </footer>
        <!-- footer 끝 -->
    </div>
</body>
<script>
    function onSignIn(){
        var auth2 = gapi.auth2.getAuthInstance()
        if(auth2.isSignedIn.get()){
            var profile = auth2.currentUser.get().getBasicProfile();
            googleLoginPro(profile)
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        }

    }

    function signOut() {
        if(gapi.auth2 != undefined){
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
        location.href= "/user/logOut.do"
    }
</script>
</html>