<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="./css/main.css?ver=1" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- header 시작 -->
        <header>
            <div class="home">
                <h1>
                    <a href="/main">COCODAS</a>
                </h1>
            </div>
            <div class="login">
                <ul>
                    <li class="first-li">
                        <a href="#">회원가입</a>
                    </li>
                    <li>
                        <a href="/login">COCODAS 로그인</a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- header 끝 -->
        <!-- GNB 메뉴 시작 -->
        <nav>
            <ul>
                <li class="first-li">
                    <a href="./main.html">HOME</a>
                </li>
                <li>
                    <a href="#">공지사항</a>
                </li>
                <li>
                    <a href="#">길찾기</a>
                </li>
                <li>
                    <a href="#">출발예측</a>
                </li>
                <li>
                    <a href="#">도착예측</a>
                </li>
                <li>
                    <a href="#">사용자 게시판</a> 
                </li>
            </ul>
        </nav>
        <!-- GNB 메뉴 끝 -->
        <aside>
            <h2>회원 전용 페이지</h2>
            ID : <span sec:authentication="name"></span> <br>
            소유 권한 : <span sec:authentication="authorities"></span> <br>

            <form id="logout" action="/logout" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" value="로그아웃"/>
            </form>
        </aside>
        <section>
            
        </section>
        <!-- footer 시작 -->
        <footer>
            <ul>
                <li class="first-li"><a target="_blank" href="#">전체서비스</a></li>
                <li><a target="_blank" href="#">제휴제안</a></li>
                <li><a target="_blank" href="#">이용약관</a></li>
                <li><a target="_blank" href="#">개인정보처리방침</a></li>
                <li><a target="_blank" href="#">고객센터</a></li>
            </ul>
        </footer>
        <!-- footer 끝 -->
    </div>
</body>
</html>